* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
    overflow-x: hidden;
}

/* Background glow */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: radial-gradient(125% 125% at 50% 90%, #fff 40%, #7c3aed 100%);
}

.blogWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.blog-header h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
}

.blog-header p {
    color: #555;
    text-align: center;
    margin-top: 10px;
}

/* GRID */
.blog-grid {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 60px 0;
}

/* GLASS CARDS */
.blog-card {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(18px) saturate(160%);
    -webkit-backdrop-filter: blur(18px) saturate(160%);
    border: 1.5px solid #d4af37;
    border-radius: 25px;
    padding: 27px;
    cursor: pointer;

    transition: 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.blog-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 10px;
    filter: saturate(1.1) contrast(1.05);
    transition: transform 0.5s ease;
}

.blog-card h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.blog-card p {
    color: #555;
    font-size: 0.9rem;
    line-height: 1.6;
}

.blog-card span {
    display: inline-block;
    margin-top: 15px;
    color: #777;
    font-weight: 400;
    font-size: 0.85rem;
    margin-right: 15px;
}

/* POPUP BACKDROP */
.blog-modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 9999; /* higher than header */
}

.blog-modal-content {
    width: 90%;
    max-width: 700px;
    max-height: 85vh;   /* IMPORTANT */
    overflow-y: auto;   /* makes inner scroll */
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */ 
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(25px);

    border-radius: 20px;
    padding: 20px;

    border: 1px solid rgba(255,255,255,0.2);
}

.close-modal {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modalHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modalHead img {
    width: 100px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.blogTitle {
    margin-bottom: 10px;
    color: #fff;
}

.readings {
    color: #d4af37;
    margin-bottom: 10px;
}

.blogContent {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.prayerTitle {
    color: #d4af37;
}

.prayerPoint {
    color: #fff;
}

@media (max-width: 480px){
    .blog-header h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 110px;
    }

    .blog-grid {
        grid-template-columns: 1fr;
    }
}