* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Jost", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    max-height: auto;
    background: #000000;
    padding: 20px;
    gap: 30px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials p {
    font-size: 1.5rem;
    color:#ffffff;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

i {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 8px;
    transition: color 0.3s ease;
}

i:hover {
    color: #cc4e00;
    transform: scale(1.2) rotate(10deg);
}

.footernav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footernav a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 1.7rem;
    text-align: center;
    transition: color 0.3s ease;
}

.footernav a:hover {
    color: rgb(250, 250, 4);
    transform: scale(1.2);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact a {
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    transition: color 0.5s ease;
}

.contact p {
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #cc4e00;
    margin: auto;
    width: 90%;
    margin-top: 20px;
}

.contact a:hover {
    color: rgb(250, 250, 4);
    transform: scale(1.05);
}

.c {
    text-align: center;
}

.c p {
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    font-family: 'Cinzel', serif;
    
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 10px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footernav a {
        font-size: 1rem;
    }

    .socials p {
        font-size: 1rem;
        font-weight: 700;
    }

    i {
        font-size: 20px;
    }

    .footernav a {
        font-size: 1rem;
    }

    .contact a {
        font-size: 1rem;
    }


    .c p {
        font-size: 1rem;
    }

}

@media (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        gap: 10px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footernav a {
        font-size: 0.8rem;
    }

    .socials p {
        font-size: 0.9rem;
        font-weight: 700;
    }

    i {
        font-size: 18px;
    }

    .footernav a {
        font-size: 0.85rem;
    }

    .contact a {
        font-size: 0.8rem;
    }


    .c p {
        font-size: 0.8rem;
    }
}
