* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: #ffffff;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image: radial-gradient(
        125% 125% at 50% 90%,
        #ffffff 40%,
        #7c3aed 100%
    );

    background-size: 100% 100%;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: linear-gradient( 135deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.05) );

    backdrop-filter: blur(28px) saturate(200%);
    -webkit-backdrop-filter: blur(28px) saturate(200%);

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.12), inset 0 1px 1px rgba(255, 255, 255, 0.2);
    border-radius: 0 0 20px 20px;
    z-index: 1000;
    color: #f0f0f0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); /* depth */
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: auto;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

.navLinks a {
    text-decoration: none;
    color: #000000;
    font-size: 0.8rem;
    transition: transform 0.3s ease-in-out;
}

.navLinks a:hover {
    color: #cc4e00;
}

#CTO i {
    color: #fff;
    font-size: 16px;
}

#CTO {
    padding: 8px;
    background: #000000;
    color: #ffffff;
    border-radius: 8px;
}

#CTO:hover {
    background: #cc4e00;
}

.main-header .icon {
    display: block; /* Show hamburger */
    font-size: 22px;
    cursor: pointer;
    z-index: 1100;
    color: #000;
}

.main-header .icon i {
    font-size: 22px;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s ease;
}

.main-header .icon i:hover {
    transform: scale(1.05);
}

.signin i {
    color: #000;
    cursor: pointer;
    margin-right: 15px;
}

.signin i:hover {
    color: #d4af37;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 110vh;
    background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../Images/heropic.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    border-radius: 0 0 25px 25px;
    padding: 20px;
    gap: 10px;
}

.hero-text h1 {
    font-size: 3.5rem;
    color: #000;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.hero-text span {
    color: #d4af37;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.hero-text p {
    font-size: 1rem;
    text-align: center;
    color: #0c0c0c;
}

.CTO {
    margin-top: 15px;
}

#CTO2 {
    padding: 10px;
    background-color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.04rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

#CTO2:hover {
    color: #000000;
    background-color: #ffffff;
    transform: scale(1.1);
}

.tabs {
    width: 90%;
    max-width: 1300px;
    margin: 80px auto;
    display: flex;
    gap: 30px;
}

.featured-card {
    flex: 1;
    max-height: 700px;
    height: 100%;
}

.card-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.18),
        rgba(255, 255, 255, 0.08)
    );

    backdrop-filter: blur(22px) saturate(180%);
    -webkit-backdrop-filter: blur(22px) saturate(180%);

    border: 1px solid rgba(255, 255, 255, 0.25);

    border-radius: 24px;
    padding: 35px;

    box-shadow:
        0 8px 32px rgba(124, 58, 237, 0.12),
        0 2px 10px rgba(0, 0, 0, 0.05),
        inset 0 1px 1px rgba(255, 255, 255, 0.25);

    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 70%;
    height: 100%;

    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.25),
        transparent
    );

    transition: 0.8s;
}

.card:hover::before {
    left: 150%;
}

.card:hover {
    transform: translateY(-10px);

    box-shadow:
        0 18px 45px rgba(124, 58, 237, 0.22),
        0 5px 20px rgba(0, 0, 0, 0.08),
        inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

.icon-box {
    width: 80px;
    height: 80px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.icon-box img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #222;
}

.card p {
    color: #666;
    line-height: 1.8;
    margin-bottom: 25px;
}

.btn-primary {
    display: inline-block;
    padding: 12px 28px;
    background: #d4af37;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-primary:hover {
    background: #b99224;
    transform: scale(1.05);
}

.placeholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
    height: auto;
    gap: 30px;
    background: url(../Images/gradient.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border: none; 
}

.bannerImage {
    display: flex;
    flex-direction: column;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.banner h1 {
    font-size: 5rem;
    color: #00357a;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    line-height: 1.2;
}

.banner p {
    font-size: 2rem;
    color: #00357a;
}

.banner a {
    padding: 10px 15px;
    background: #ffffff ;
    color: #00357a;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-text a:hover {
    background: #cc4e00;
    color: #ffffff;
    transform: scale(1.1);
}

.statement {
    width: 90%;
    max-width: 1300px;
    margin: 100px auto;
    text-align: center;
}

.statementHeader span {
    display: inline-block;
    color: #d4af37;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.statementHeader h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #222;
}

.statementHeader p {
    max-width: 750px;
    margin: auto;
    color: #666;
    line-height: 1.9;
    font-size: 1.05rem;
}

.statementCards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.faithCard {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.18),
        rgba(255, 255, 255, 0.08)
    );

    backdrop-filter: blur(22px) saturate(180%);
    -webkit-backdrop-filter: blur(22px) saturate(180%);

    padding: 35px 25px;
    border-radius: 24px;

    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
        0 8px 32px rgba(124, 58, 237, 0.12),
        0 2px 10px rgba(0, 0, 0, 0.05),
        inset 0 1px 1px rgba(255, 255, 255, 0.25);

    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}

.faithCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 70%;
    height: 100%;

    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.25),
        transparent
    );

    transition: 0.8s;
}

.faithCard:hover::before {
    left: 150%;
}

.faithCard:hover {
    transform: translateY(-10px);

    box-shadow:
        0 18px 45px rgba(124, 58, 237, 0.22),
        0 5px 20px rgba(0, 0, 0, 0.08),
        inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

.iconWrapper {
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 50%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.iconWrapper img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.faithCard h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: #222;
}

.faithCard p {
    color: #666;
    line-height: 1.8;
}


@media (max-width: 820px) {
    .tabs {
        flex-direction: column;
    }

    .statementCards {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 480px) {
    header {
        width: 190px;
        height: auto;
        padding: 20px;
        border-radius: 10px;
    }

    .logo p {
        font-size: 0.6rem;
    }

    .logo img{
        width: 28px;
        height: auto;
    }

    .icon {
        display: block; /* Show hamburger */
    }

    .hero {
        height: 80vh;
    }

    .hero-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .hero-text p {
        font-size: 0.9rem;
        text-align: center;
    }

    #CTO2 {
        padding: 10px;
        font-size: 0.9rem;
    }

    .banner {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 180px;
    }

    .banner h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .banner p {
        font-size: 0.8rem;
    }

    .banner a {
        text-align: center;
        font-size: 0.8rem;
    }

    .banner-text a:hover {
        background: #cc4e00;
        color: #ffffff;
        transform: scale(1.1);
    }

    .bannerImage img {
        width: 180px;
        height: auto;
    }

    .statementHeader h1 {
        font-size: 1.5rem;
    }

    .statementHeader p {
         font-size: 0.8rem;
    }

    .statementCards {
        margin-top: 40px;
    }

    .faithCard {
        padding: 25px 15px;
    }

    .faithCard h3 {
        font-size: 1.1rem;
    }

    .faithCard p {
        font-size: 0.8rem;
    }

}