* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: radial-gradient(
        125% 125% at 50% 90%,
        #ffffff 40%,
        #7c3aed 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-container {
    width: 100%;
    max-width: 500px;

    background: white;
    border-radius: 24px;

    padding: 40px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.12);
}

.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-header h1 {
    font-family: 'Lato', serif;
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.auth-header p {
    color: #666;
    font-size: 1rem;
}

.auth-tabs {
    display: flex;
    background: #f6f6f6;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 30px;
}

.tab-btn {
    flex: 1;
    border: none;
    padding: 12px;
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.tab-btn.active {
    background: #ae62d3;
    color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.auth-form input {
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 0.85rem;
    font-family: "Lato", sans-serif;
}

.auth-form input:focus {
    outline: none;
    border-color: #d4af37;
}

.auth-btn {
    border: none;
    padding: 14px;
    background: #ae62d3;
    color: white;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.auth-btn:hover {
    opacity: 0.7;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {

    .auth-container {
        padding: 25px;
    }

    .auth-header h1 {
        font-size: 1.8rem;
    }
}