<footer class="footer">

    <div class="footer-container">

        <!-- Brand / About -->
        <div class="footer-brand">
            <img src="Images/logo.svg" alt="Global Champions Ministries Logo">
            <h2>The Global Champions Ministries</h2>
        </div>

        <!-- Quick Links -->
        <div class="footer-links">
            <h3>Quick Links</h3>

            <a href="events.html">Events</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
            <a href="https://docs.google.com/document/d/1B3hsm-_j39IIfDeHCseR6FihVuSTWch7w4VGJMtmdJU/edit?usp=sharing">Terms</a>
            <a href="https://docs.google.com/document/d/1aB6N44c3FaxZdkpEDgmyNG4qFMvrwomtn0yMwk_lCDs/edit?usp=sharing">Privacy Policy</a>
        </div>

        <!-- Contact -->
        <div class="footer-contact">
            <h3>Contact Us</h3>

            <a href="mailto:contact.gcm@gmail.com">
                <i class="fas fa-envelope"></i>
                contact.gcm@gmail.com
            </a>

            <a href="https://www.google.com/maps/place/7+Osinaike+Oluwawemimo+St" target="_blank">
                <i class="fas fa-map-marker-alt"></i>
                7 Osinaike Oluwawemimo Crescent, Ago Palace Way, Lagos
            </a>

            <a href="https://www.google.com/maps/search/3+saidi+ologunro+street" target="_blank">
                <i class="fas fa-map-marker-alt"></i>
                3 Saidi Ologunro Street, Sangotedo, Lagos
            </a>
        </div>

        <!-- Social -->
        <div class="footer-social">
            <h3>Follow Us</h3>

            <div class="social-icons">
                <a href="https://www.facebook.com/share/18mCtbcgD5/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.tiktok.com/@globalchampionsmins?_r=1&_t=ZS-96xTaP35Xk0" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.instagram.com/globalchampions_ministries?igsh=a2h4MWt1eDJuN21r" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://youtube.com/@globalchampionsministries?si=j1SVu2T7jFEXqz_f" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 The Global Champions Ministries. All rights reserved.</p>
    </div>

</footer>