<header class="main-header">
            <div class="logo">
                <a href="index.html" class="logo">
                    <img src="Images/logo.svg" alt="Global Champions Ministries Logo">
                </a>
            </div>

            <nav id="myLinks" class="navLinks">
                <img src="Images/logo.svg" alt="Global Champions Ministries Logo" class="mobile-logo">
                <a href="about.html" target="_self"> <i class="fas fa-circle-info"></i>ABOUT</a>
                <a href="events.html" target="_self"> <i class="fas fa-calendar"></i> EVENTS </a>
                <a href="blog.html" target="_self"> <i class="fas fa-newspaper"></i> SERMONS </a>
                <a href="watchlive.html" target="_self"> <i class="fas fa-play"></i> WATCH LIVE </a>
                <a href="contact.html" target="_self"> <i class="fas fa-envelope"></i> CONTACT US </a>
                <a id="CTO" href="donate.html" target="_self"> <i class="fas fa-solid fa-heart"></i> GIVE </a>
            </nav>

            <div class="nav-right">
                <div class="signin">
                    <a href="auth/auth.html" target="_self"> <i class="fas fa-user"></i> </a>
                </div>

                <a href="javascript:void(0);" class="icon" onclick="toggleNav()" id="menu-icon">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            
        </div>

        
    </header>